
<table border="1" cellpadding="2" cellspacing="0" style="width: 40%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Questions</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let svg of svgs">
            <td>{{ svg.name }}</td>
            <td>
                <button (click)="selectByID(svg.id)">Display</button>
            </td>
        </tr>
    </tbody>
</table>

<span *ngIf="!!selectedSVG">
    <hr>
    <h1>{{ selectedSVG.name }}</h1>
    <p [innerHTML]= "selectedSVG.data" ></p>
</span>